
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <br /><br /><br />
        <h2>Change Password</h2>
        <br />
        <hr />
        <br />
        <center>

            <div class="row">

                <div class="col-md-12">
                    <div class="well">
                        <form action="#" class="form-horizontal" id="FormChangePassword" method="post" role="form">
                            <input name="__RequestVerificationToken" type="hidden" value="8sob_7SzHwJ66EYr530Yp5qkOq7Z8-MfQpSngGy99cQxNXDR_Tbfua0ucxRHbzKty5gy-ziJXXr905FdEM0iiRyD9HhezfNUt0B8jrH0DXkWYuS9_fWEyirvG_XsEAkIKoDaEOtCTUnchkethtcyEQ2"><div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>            
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="OldPassword">Current password</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" data-val-required="The Current password field is required." id="OldPassword" name="OldPassword" required="required" type="password">
                                    <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="NewPassword">New password</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" data-val-length="The New password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required." id="NewPassword" name="NewPassword" required="required" type="password">
                                    <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="ConfirmPassword">Confirm New Password</label>
                                <div class="col-md-8">
                                    <input class="form-control" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword" required="required" type="password">
                                    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="txtcenter">
                                    <a href="javascript:history.go(-1)" class="btn btn-default">Cancel</a> &nbsp;<input type="submit" value="Change password" class="btn btn-success">
                                </div>
                            </div>
                        </form>

                        <br />

                        <div id="PasswordInfo">

                        </div>


                    </div>
                </div>

                <div class="col-sm-5 text-left">

                </div>
            </div>
        </center>

    </div>

