
@{
    ViewData["Title"] = "Schedule Calendar";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
}

<div class="card">
    <div id='calendar' style="max-height:initial"></div>
</div>


<script>

   
</script>