
@{
    ViewData["Title"] = "RelieveStaff";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
}

<body>

    <div class="card-black">

        <div class="card-title"> All Staff you have to relieve </div>

        <br />


        <table id="TableRelieveStaff" class="table table-bordered table-striped table-hover" style="font-size:small">
            <thead>
                <tr>
                    <th>
                        Out ID
                    </th>
                    <th>
                        Staff Details
                    </th>
                    <th>
                        Date From
                    </th>
                    <th>
                        Date To
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Apps on Desk
                    </th>
                    <th>
                        Comment
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</body>

