body {
}

#mobilePage {
    display: none;
}

@media only screen and (max-width:768px) {
    .carousel-caption {
        display: none
    }

    .contents {
        display: none;
    }

    #mobilePage {
        display: block;
    }
}