
@using DST.Controllers.UsersManagement;
@using DST.Helpers;
@using Microsoft.AspNetCore.Http;
@using DST.Controllers.Authentications;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
    GeneralClass generalClass = new GeneralClass();
}

<div class="">

    <div class="row">
        <div class="col-md-3">

            <div class="card bg-dark p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-bag f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white" id="staffDeskCount" style="font-weight:bold"> </h2>
                        <p class="m-b-0" style="font-weight:bold"><a href="/Applications/MyDesk" class="color-white"> My Desk </a></p>
                    </div>
                </div>
            </div>

        </div>



        <div class="col-md-3">
            <div class="card bg-info-dark p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-file f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white" style="font-weight:bold">@ViewData["ProcessingApps"]</h2>
                        <p class="m-b-0" style="font-weight:bold">Processing Applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-primary-dark p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-pie-chart f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white" style="font-weight:bold">@ViewData["TotalApps"]</h2>
                        <p class="m-b-0" style="font-weight:bold">Total Applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-danger-dark p-20">
                <div class="media widget-ten">
                    <div class="media-left meida media-middle">
                        <span><i class="ti-files f-s-40"></i></span>
                    </div>
                    <div class="media-body media-text-right">
                        <h2 class="color-white" style="font-weight:bold">@ViewData["TotalPermits"]</h2>
                        <p class="m-b-0" style="font-weight:bold">Total Permits</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    @if (Convert.ToInt32(ViewData["NominationRequest"].ToString()) > 0)
    {
        <div class="col-lg-9">
            <div class="card-black">
                <div class="card-body">
                    <b class="text-danger"> You have <span class="text-primary">@Convert.ToInt32(ViewData["NominationRequest"].ToString())</span> nomination request for your response. Kindly go to <a href="/NominationRequest/Requests/_desk"> Nomination Requests </a> and respond to it.</b>

                </div>
            </div>
        </div>

        <br />
    }

    <br />

    <div class="row m-l-0 m-r-0">


        <div class="col-sm-8">

            <h1>Quick Links</h1>

            <hr />

            <div>
                <b>1. Permits & Transactions</b>
                <br />

                <div class="row">

                    <div class="col-lg-4">
                        <div class="card-black">
                            <div class="card-body">
                                <b>All Permits</b>

                                <br /><br />

                                <a href="~/Permits/Index/_all" target="_blank"><i class="far fa-copy"> </i> View All Permits</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="card-black">
                            <div class="card-body">
                                <b>Completed Payments</b>

                                <br /><br />

                                <a href="~/Transactions/Payments/_completed" target="_blank"><i class="fas fa-funnel-dollar"> </i> View Completed Payments</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="card-black">
                            <div class="card-body">
                                <b>Pending Payments</b>

                                <br /><br />

                                <a href="~/Transactions/Payments/_pending" target="_blank"><i class="fas fa-pause-circle"> </i> View Pending Payments</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr />

            <div>
                <b>2. Applicatins & Companines</b>
                <br />

                <div class="row">

                    <div class="col-lg-6">
                        <div class="card-black">
                            <div class="card-body">
                                <b>All Applications</b>

                                <br /><br />

                                <a href="~/Applications/Index" target="_blank"><i class="far fa-clone"> </i> View All Applications</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="card-black">
                            <div class="card-body">
                                <b>All Companies</b>

                                <br /><br />

                                <a href="~/Applications/AllCompanies" target="_blank"><i class="far fa-building"> </i> View All Companies</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr />

            <div>
                <b>3. Reporting</b>
                <br />

                <div class="row">

                    <div class="col-lg-4">
                        <div class="card-black">
                            <div class="card-body">
                                <b>Report for Applications</b>

                                @*<div class="" id="AutoGasDasboardGraph" style="width: 100%; height: 500px;">

                                    </div>*@

                                <br /><br />

                                <a href="~/Reports/Applications/" target="_blank"><i class="fas fa-chart-line"></i> View Applications Reports</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="card-black">
                            <div class="card-body">
                                <b>Report for Permits</b>

                                @*<div class="" id="AddonDasboardGraph" style="width: 100%; height: 500px;">

                                    </div>*@

                                <br /><br />

                                <a href="~/Reports/PermitsReport/" target="_blank"><i class="fas fa-chart-area"></i> View Permits Reports</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="card-black">
                            <div class="card-body">
                                <b>Report for Transactions</b>

                                @*<div class="" id="IndsDasboardGraph" style="width: 100%; height: 500px;">

                                    </div>*@

                                <br /><br />

                                <a href="~/Reports/TransactionReports/" target="_blank"><i class="fas fa-chart-pie"></i> View Transactions Reports</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


        <div class="col-lg-4">
            <div class="card-black">
                <div class="card-body">
                    <div class="year-calendar"></div>
                </div>
            </div>
        </div>





    </div>

    <br />

</div>




        <script src="~/js/DST Scripts/Reporting/DashboardCharts.js"></script>




